* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #348eca;
  color: blue;
  /* background-color: #348eca; */
}

.flexbox{
  display:flex;
  justify-content:space-between;
  width:100%;
  /* max-width: 768px; */
  height: 100vh;
  overflow:hidden;
  margin: 0 auto;
  padding: 25px;
  color: rgb(3, 3, 66)

}

.flexbox .board{
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #4f8bb6;
  padding: 5px;
  color:rgb(4, 8, 8);
  border: 1px solid rgba(230, 227, 220, 0.2)
}

.flexbox .board .card{
  padding: 0px 15px;
  background-color: white;
  cursor: pointer;
  margin: 10px;
  height: 25%;
  color: rgb(3, 3, 66)
}

h3{
  text-align: center;
  /* color:red; */
  color: #e92121;
  border-radius: 10px;
}
